.footer {
    position: fixed;
    width: 100%;
    display: flex;
    padding-top: 20px;
    border-top: 3px solid black;
    bottom: 0;
    left: 0;
}

.footer p {
    margin-left: auto;
    margin-right: auto;
}

.delete-checkbox {
    position: absolute;
    margin-left: 25px;
    left: 0;

}

header {
    display: flex;
    margin-top: 4mm;
    border-bottom: 3px solid black;
    margin-bottom: 30px;
}

header div {
    margin-right: 0;
    margin-left: auto;
    margin-top: 1mm;
}

.space {
    margin-right: 20px;
}

section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

section p {
    margin: 12px;
}

.up {
    margin-top: 10px;
}

.card {
    height: 12rem;
}

.form-control{
    width: 300px;
    margin-left: 60px;
}

.form-select{
    width: 300px;
    margin-left: 20px;
}

.sku {
    margin-left: 28px;
    margin-bottom: 15px;
}

.name{
    margin-left: 15px;
    margin-bottom: 15px;
}

.price{
    margin-bottom: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-furniture {
    display: flex;
    flex-wrap: wrap;
}
